.layout {
  height: 100%;
  &-wrapper {
    background-color: #eff2f5 !important;
    .header {
      background-color: #fff;
      height: 48px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .layout-content {
      padding: 0 20px;
      .breadcrumb {
        margin: 10px 0;
        cursor: pointer;
      }
      .content {
        background-color: #fff;
        min-height: 500px;
        padding: 24px;
      }
    }
  }
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
}
