.layout {
  height: 100%;
  &-wrapper {
    background-color: #eff2f5 !important;
    .layout-content {
      padding: 0 20px;
      .breadcrumb {
        cursor: pointer;
      }
      .content {
        margin-top: 10px;
        background-color: #fff;
        min-height: 500px;
        padding: 24px;
      }
    }
  }
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
}
